@model IEnumerable<mvcCrud.Models.mvcCalisanModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    <a href="@Url.Action("EKLE","Calisanlar")" class="btn btn-danger"><i class="fa fa-plus-square"></i>Çalışan EKLE</a>
</p>
<table class="table table-striped">
    <thead class="table-danger">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pozisyonu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AdSoyad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pozisyonu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Yasi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Maas)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

        <a href="@Url.Action("EKLE", "Calisanlar", new {id=item.CalisanID })" class="btn btn-default"><i class="fa fa-pencil-square"></i>Edit</a>
        <a onclick="Sil(@item.CalisanID)" class="btn btn-default"><i class="fa fa-pencil-trash"></i>Sil</a>


    </td>
</tr>
}

</table>
@section scripts{
    <script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage != '')
            alertify.success(successMessage);

    });

    function Sil(id)
    {
        alertify.confirm('silme işlemi', 'Kaydı silmek istiyor musunuz?', function () { window.location.href = '@Url.Action("Sil","Calisanlars")/'+id;}, null);
    
    }
    </script>
    }
